*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
    background: #ff9800;
}
.container{
    height: 250px;
    width: 450px;
    background: #eceff8;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.7),-2px,-2px,8px,#FF572240;
}
.container h3{
    text-align: center;
    margin: 30px 0px;
    font-size: 27px;

}
.password{
    height: 50px;
    width: 400px;
    outline: none;
    background: transparent;
    padding: 0px 20px;
    font-size: 18px;
    margin: 0px 18px;
    color: #FF9800;

}
.password::placeholder{
    color: #FF9800;

}

.container h5{
    height: 20px;
    width: 400px;
    margin: 0px 25px;


}
.container .check{
    height: 50px;
    width: 400px;
    border: none;
    outline: none;
    background-color: #FF9800;
    padding: 0px 20px;
    margin: 14px 25px;
    cursor: pointer;
    font-weight: 600;
    color: #eceff8;
}